agm-map {
  height: 500px;
}

.map-wrap {
  position: relative;
  .func-area {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
  }
  .left-bottom-button {
    position: absolute;
    bottom: 0;
    .circle-button {
      height: 100px;
      width: 100px;
      border: 2px solid blue;
      border-radius: 50%;
    }
    .btn1 {
      position: absolute;
      top: -40px;
      left: 10px;
    }
    .btn2 {
      position: absolute;
      top: -28px;
      left: 82px;
    }
    .btn3 {
      position: absolute;
      top: 16px;
      left: 106px;
    }
    .btn4 {
      position: absolute;
      top: 60px;
      left: 118px;
    }
  }
  .right-top-button {
    position: absolute;
    top: 0;
    right: 0;
  }
  .right-bottom-button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.stations,
.stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}
