<div class="page-title">
  <div class="title_left">
    <h3>Map</h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>


<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<div class="row map-wrap">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-12 func-area">
      <button type="button" class="btn btn-primary" (click)="onCurrentLocationBtn()">{{'Map.Current' | translate}}</button>
      <button type="button" class="btn btn-primary" (click)="onHistoryBtn()">{{'Map.History' | translate}}</button>
    </div>

    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="icon"></agm-marker>
      <agm-circle [latitude]="lat" [longitude]="lng" [radius]="radi" [fillColor]="colo"></agm-circle>
      <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label"></agm-marker>
    </agm-map>

    <div class="right-top-button">
      <div><img class="img-responsive" src="{{batteryIcon}}" /></div>
    </div>

    <div class="left-bottom-button">
      <button type="button" class="btn btn-primary btn1">回上頁</button>
      <button type="button" class="btn btn-primary btn2">再想想</button>
      <button type="button" class="btn btn-primary btn3">數據</button>
      <button type="button" class="btn btn-primary btn4">說明</button>
      <div class="circle-button"></div>
    </div>

    <div class="right-bottom-button">
      <div><button type="button" class="btn btn-primary">下戴目前軌跡</button></div>
      <div><button type="button" class="btn btn-primary">蜂鳴器</button></div>
      <div><button type="button" class="btn btn-primary">2D地圖</button></div>
    </div>
  </div>
</div>
