
<div class="row" style="margin-top: 100px">
  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-caret-square-o-right"></i>
      </div>
      <div class="count">10</div>

      <h3>設備數</h3>
      <p>持有設備數</p>
    </div>
  </div>

  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-comments-o"></i>
      </div>
      <div class="count">5</div>

      <h3>運行中</h3>
      <p>運行中的設備數</p>
    </div>
  </div>

  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-sort-amount-desc"></i>
      </div>
      <div class="count">3</div>

      <h3>電量不足</h3>
      <p>電量不足設備數</p>
    </div>
  </div>

  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-check-square-o"></i>
      </div>
      <div class="count">30</div>

      <h3>未讀通知</h3>
      <p>未讀取的通知</p>
    </div>
  </div>

  <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="icon"><i class="fa fa-check-square-o"></i>
      </div>
      <div class="count">30</div>

      <h3>測試</h3>
      <p>測試區塊</p>
    </div>
  </div>
</div>

